@{
    ViewData["Title"] = "PBL";
}

<div class="text-center">
    <h3>Seja Bem Vindo(a)</h3>
    <h1 class="display-4">Chocolates da Casa</h1>
</div>

<div style="margin-left: 160px;" class="image_main">
    <img src="https://blog.novasafra.com.br/wp-content/uploads/2018/03/chocolate_featured-780x450.jpg" alt="">
</div>
